#root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    min-width: 300px;
}

.modal-close-btn {
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;

    text-align: center;
    border-radius: 50%;
    background-color: transparent;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal p {
    margin: 0;
}

.modal form button {
    align-self: center;
    height: 100%;
    padding: 5px 10px;

    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 0.5rem;
}

.context-menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    padding: 5px;

    background-color: white;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.context-menu-part {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}

.context-menu-part:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 6px;
    right: 6px;
    height: 1px;
    background-color: #ccc;
}

.context-menu-option {
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 0 10px;

    border-radius: 10px;
    user-select: none;
}

.context-menu-option:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.message-alert-container {
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px 20px;

    border-radius: 20px;
    background-color: white;
}


/*========================================================
    HOME PAGE STYLES
 ========================================================*/

.app-information-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    padding: 20px 30px;

    border-radius: 10px;
    background-color: #f1f1f1;
}

.app-information-block ul {
    margin: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.registration-requirements {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.requirements-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
}

.requirement-block {
    display: flex;
    flex-direction: column;
    width: 300px;

    border-radius: 10px;
    background-color: #f1f1f1;
}

.requirement-block ul {
    margin: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.app-additional-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    padding: 20px 30px;
}

.app-additional-info p {
    margin: 0;
    font-size: 14px;
}

.user-buttons-area {
    display: flex;
    gap: 10px;
}

.user-buttons-area button {
    height: 100%;
    padding: 5px 10px;

    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


/*========================================================
    MAIN HEADER STYLES
 ========================================================*/

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 50px;
    margin: 0 auto 30px;

    background-color: white;
}

.header-logo {
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    width: 150px;
    height: 50px;
    padding-left: 10px;
}

.header-cloud-icon {
    width: 30px;
    height: 30px;

}

.header-search-area, .header-user-area {
    display: flex;
    align-items: center;
    gap: 30px;
}


.search-container {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    width: 300px;
    height: calc(100% - 20px);

    border: 1px solid gray;
    border-radius: 15px;
}

.search-form {
    display: flex;
    width: 100%;

    overflow: hidden;
}

.search-input {
    flex: 1 1 auto;
    height: 100%;
    padding: 0 10px;

    border-radius: 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search-btn {
    position: relative;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;
}

.search-btn:after {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0;
    width: 1px;
    background-color: #ccc;
}

.user-profile-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
    gap: 20px;
}

.user-profile-container:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: #ccc;
}

.user-profile-icon {
    width: 25px;
    height: 25px;
}

.user-profile-btn {
    height: 100%;
    padding: 5px 10px;

    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}


/*========================================================
    STORAGE PAGE STYLES
 ========================================================*/

.upload-file-btn {
    height: 100%;
    padding: 0 10px;

    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline: none;
}

.storage-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 20px 50px;

}

.storage-header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;

    background-color: #f1f1f1;
    border-radius: 20px;

}

.storage-header-actions {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.storage-list-row {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;

    border-radius: 10px;
}

.storage-list-row:hover {
    background-color: #f1f1f1;
}

.storage-list-row div {
    user-select: none;
}

.storage-content .selected {
    background-color: #f1f1f1;
}

.storage-list-row:after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 10px;
    left: 10px;
    height: 1px;
    background-color: #ccc;
}

.storage-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
}

.table-header {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    padding: 20px;

    background-color: #f7f7f7;
    border-radius: 20px;
}

.table-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(100vh - 320px);
    padding: 10px 0;

    overflow: scroll;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    align-items: start;
    gap: 20px;

    width: 100%;
    max-height: calc(100vh - 320px);

    overflow: scroll;
}

.storage-list-row .storage-item-icon {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
}

.storage-item .storage-item-icon {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
}

.storage-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-item-btn {
    height: 100%;
    padding: 0 10px;

    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline: none;
}

.storage-row-actions {
    display: flex;
    gap: 20px;
}

.storage-row-delete, .storage-row-details {
    width: 20px;
}

.storage-row-comment {
    text-overflow: ellipsis;
}

.storage-row-name {
    text-align: left;
    padding-left: 10px;
}


/*========================================================
    COLUMNS STYLE
 ========================================================*/

.col1 {
    width: 35px;
}

.col2 {
    flex-basis: 0;
    flex-grow: 1;
}

.col3 {
    flex-basis: 100px;
}

.col4, .col5 {
    flex-basis: 100px;
}

.col6 {
    flex-basis: 150px;
}

.col7 {
    flex-basis: 60px;
}


/*========================================================
    LOGIN MODAL STYLES
 ========================================================*/







/*========================================================
    REGISTRATION MODAL STYLES
 ========================================================*/




/*========================================================
    CREATE FOLDER MODAL STYLES
 ========================================================*/



/*========================================================
    UPLOAD FILE MODAL STYLES
 ========================================================*/





