:root {
  font-weight: 400;
  line-height: 1.5;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

body {
  margin: 0;
  background-color: rgb(248 250 253);
}
